*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.nav{
    display: flex;
    justify-content: space-between;
    padding: 13px 4rem;
    border-bottom: 1px solid #989CA83B;
}

.nav img{
    width: 50px;
}

.right-sec {
    display: flex;
    gap: 32px;
    justify-content: space-between;
    font-size: 19px;
    padding: 12px  0 0 0;
    
}

.right-sec a{
    text-decoration: none;
    color: #000;
    cursor: pointer;
    padding: 12px 0 0 0;
}

.right-sec .btn button{
    color: #F0A02C;
    font-size: 19px;
    padding: 10px 25px;
    border: 1px solid #F0A02C;
    background-color: #fff;
    border-radius: 6px;
    cursor: pointer;
}

.right-sec #a{
    padding: 22px  0 0 0;
}

.right-sec #a:hover{
    color: #F0A02C;
}

/* CONTACT US PAGE */
.contactUs-container{
    background-color: #E7E8EB42;
    margin: 4rem 4rem;
    padding: 2rem 2rem;
}

#contact-form h2{
    font-size: 2.5rem;
}

#contact-form p{
    font-size: 1.4rem;
    margin: 20px 0 ;
}

#contact-form{
    width: 600px;
    display: block;
    margin: 3rem auto;
    text-align: center;
}

input[type=text], input[type=email], input[type=number], textarea, input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    box-sizing: border-box;
    background: transparent;
    resize: none;
    border-radius: 5px;
  }

#contact-form button{
    width: 200px;
    padding: 10px;
    display: block;
    margin: 20px 0 20px 5rem;
    background-color: #F0A02C;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}

#contact-form .form-btn{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

::placeholder{
    font-size: 17px;
}

/* LOG IN PAGE */
.create-container{
    margin: 4rem 4rem;
    padding: 2rem 2rem;
}

#create-form h2{
    font-size: 2.5rem;
}

#create-form p{
    font-size: 1.4rem;
    margin: 30px 0 ;
}

#create-form{
    width: 600px;
    display: block;
    margin: 3rem auto;
    text-align: center;
}

#create-form .form-btn{
    display: block;
    margin: 1rem auto;
}

#create-form button{
    width: 200px;
    padding: 10px;
    display: block;
    margin: 2.5rem auto 1rem auto;
    background-color: #F0A02C;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}

.create-text{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    font-size: 14px;
    font-weight: 600;
}

.create-text a{
    color: #F0A02C;
    font-size: 20px;
}

.create-text a:hover{
    color: #d18b23;
}

/* LOGIN PAGE */
.login-container{
    margin: 4rem 4rem;
    padding: 2rem 2rem;
}

#login-form h2{
    font-size: 2.5rem;
}

#login-form .login-text{
    font-size: 1.4rem;
    margin: 30px 0  20px 0;
}

#login-form{
    width: 600px;
    display: block;
    margin: 3rem auto ;
    text-align: center;
}

.checkbox-sec{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

#box-check{
    margin: 9px 0 0 0;
}

.checka{
    display: flex;
    gap: 3px;
}

.checkbox-sec p{
    font-size: 18px;
    margin: 30px 0  20px 0;
}

#login-form .form-btn{
    display: block;
    margin: 1rem auto;
}

#login-form button{
    width: 200px;
    padding: 10px;
    display: block;
    margin: 2.5rem auto 3rem auto;
    background-color: #F0A02C;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}

.reset:hover{
    color: #F0A02C;
    transition: 0.8s;
}

/* FOOTER */
footer{
    background-color: #000;
    color: #fff;
    padding: 3rem ;
}

footer .parta{
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
}

.parta h3{
    font-size: 1.3rem;
    margin: 0 0 13px 0;
}

.partb{
    text-align: center;
    margin: 30px 0 0 0;
}

.part1 a{
    text-decoration: none;
    color: #fff;
}

.part1 a:hover{
    color:#F0A02C;
    transition: 0.8s;
}

#sub{
    width: 300px;
    margin: 0 0 10px 0;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 8px;
}

.part1 p{
    padding: 6px 0;
}
  

.socialmediaicons{
    display: flex;
    gap: 12px;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
}

.add1{
    width: 200px;
    padding: 10px ;
    display: block;
    margin: 20px auto;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}

.add2{
    width: 200px;
    padding: 10px;
    display: block;
    margin: 20px 0;
    background-color: #F0A02C;
    cursor: pointer;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}

.add2:hover{
    background-color:#dd9120;
    transition: 0.8s;
}

/* PROFILE PAGE */
.profile-container{
    background-color: #E7E8EB42;
    margin: 3rem 7rem;
    padding: 2rem 15rem;
}

.profile-container h2{
    font-size: 2.5rem;
    text-align: center;
    margin: 1rem 0 3rem 0;
}

.profile-buttons{
    display: flex;
    justify-content: space-between;
}

.user-sec{
    display: flex;
    gap: 2rem;
}

.profile-bottom{
    margin: 2rem 0 0 0;
}

.profile-buttons a{
    text-decoration: none;
}

.profile-buttons button{
    width: 300px;
    height: 60px;
    padding: 10px 30px;
    display: block;
    margin: 4.5rem auto 3rem auto;
    background-color: #152248;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}

.user-sec img{
    width: 160px;
}

.profile-text{
    margin: 4rem 0 0 0;
    font-size: 1.5rem;
}

.prof-sec{
    display: flex;
    gap: 17px;
}

.prof-sec i{
    font-size: 20px;
    margin: 3px 0 0 0;
}

.prof-sec p:hover{
    color: #152248;
    transition: 0.7s;
}

.prof-sec p{
    font-size: 23px;
    font-weight: 500;
}